body{
	font-family:Verdana;
	background-color:#c0e59b;
	
}

h1{
	text-align:center;
	
}
h2{
	color:navy;
}

h3{
	color:navy;
	font-weight:bold;
}

p{
	line-height:1.5em;
	text-indent:5em;
}

h4{
	text-transform:uppercase;
	color:maroon;
	font-style:italic;
}

